body {
    background:#1f242b; 
    color: rgb(218, 243, 255); 
    font: 1em Menlo; 
    padding: 100px;
}

#editor *[data-tag] {
    border: 1px dashed #0069d6;
    position: relative;
    padding: 7px;
}
#editor *[data-tag]::before {       
    content: attr(data-tag);
    background: #0069d6;
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: -10px;
    top: -5px;
    padding: 1px 2px;
}

[data-var]{
    display: inline-block;
    position: relative;
    border: 1px dashed #ff3561 !important;
}

[data-var]::after{
    content: attr(data-var);
    background: #ff3561 !important;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: -10px;
    top: -12px;
    padding: 1px 2px;
}

* {margin: 0;}

.unknown {
    margin: 10px 0;
    font-size: 12px;
    color: red;
}

[contenteditable], input {
    background: rgba(0,0,0,.3); 
    border: 0;
    outline: 0;
    border-radius: 16px;
    margin: 10px 0;
    color: #fff;
    font-size: 12px;
    padding: 8px 15px;
    width: 300px;
    box-sizing: border-box;
}

.demo,
.output  {
    margin-top: 80px;
}

h4 {
    margin-bottom: 20px;
    opacity: .6;
}

pre {
    line-height: 1.5;
    color: #00e893;
}